In [4]:
import sqlalchemy as sq
import pandas as pd

In [5]:
import datetime as dt

In [6]:
engine = sq.create_engine('sqlite:///data/box.db')

In [7]:
cnx = engine.connect()

In [8]:
dt.datetime.now().date()

datetime.date(2021, 1, 16)

In [6]:
df = pd.DataFrame({
    'description':['this is just a test'],
    'category':['test'],
    'url':['https://test.peti.work'],
    'date':[dt.datetime.now().date()]
})

In [47]:
df.to_sql('suggestions',cnx,if_exists='replace', index=False)

In [40]:
df = pd.read_sql_table('suggestions',cnx)

In [43]:
df

,description,category,url,date
1,ios texts,Friends,https://iostexts.com,2021-01-16
2,ios texts,Friends,https://<script><alert>hi</alert></script>iost...,2021-01-16
3,percentage of travelers with trust funds,Travel (US/World),,2021-01-16
4,White paper comparing different sentiment anal...,Other,,2021-01-16

In [42]:
df = df.iloc[1:5]

In [44]:
df = df.drop(2)

In [46]:
df = df.reset_index(drop=True)

In [48]:
df

,description,category,url,date
0,ios texts,Friends,https://iostexts.com,2021-01-16
1,percentage of travelers with trust funds,Travel (US/World),,2021-01-16
2,White paper comparing different sentiment anal...,Other,,2021-01-16

In [50]:
len(df.loc[2,'description'])

83

In [57]:
d = "((@)@ASWK2)"
d = "jdflskefjalkwef329493r5834fj"

In [58]:
all(c.isnumeric() or c.isalpha() for c in d)

True