In [8]:
import sqlalchemy as sq
import pandas as pd

In [19]:
import datetime as dt

In [6]:
engine = sq.create_engine('sqlite:///data/box.db')

In [7]:
cnx = engine.connect()

In [23]:
dt.datetime.now().date()

datetime.date(2021, 1, 16)

In [24]:
df = pd.DataFrame({
    'description':['this is just a test'],
    'category':['test'],
    'url':['https://test.peti.work'],
    'date':[dt.datetime.now().date()]
})

In [25]:
df.to_sql('suggestions',cnx,if_exists='replace', index=False)

In [26]:
pd.read_sql_table('suggestions',cnx)

           description category                     url       date
0  this is just a test     test  https://test.peti.work 2021-01-16