In [1]:
import sqlalchemy as sq
import pandas as pd

In [2]:
import datetime as dt

In [3]:
engine = sq.create_engine('sqlite:///data/box.db')

In [4]:
cnx = engine.connect()

In [5]:
dt.datetime.now().date()

datetime.date(2021, 1, 16)

In [7]:
df = pd.DataFrame({
    'description':['this is just a test'],
    'category':['test'],
    'url':['https://test.peti.work'],
    'date':[dt.datetime.now().date()]
})

In [8]:
# df.to_sql('suggestions',cnx,if_exists='replace', index=False)

In [10]:
df

           description category                     url        date
0  this is just a test     test  https://test.peti.work  2021-01-16

In [42]:
df = df.iloc[1:5]

In [44]:
df = df.drop(2)

In [46]:
df = df.reset_index(drop=True)

In [48]:
df

,description,category,url,date
0,ios texts,Friends,https://iostexts.com,2021-01-16
1,percentage of travelers with trust funds,Travel (US/World),,2021-01-16
2,White paper comparing different sentiment anal...,Other,,2021-01-16

In [50]:
len(df.loc[2,'description'])

83

In [11]:
d = "((@)@ASWK2)"
d = "jdflskefjalkwef329493r5834fj jeotjeltj 345i 3045i 034 lkasnf"

In [13]:
all(c.isnumeric() or c.isalpha() or " " in c for c in d)

True